/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

body {
  background: blue;
  color: white;
  font: bold 30px Helvetica, sans-serif;
}

#page-wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font: bold 50px Helvetica, sans-serif;
  margin: 0 0 10px 0;
}
form {
  margin: 50px 0 0 0;
}
label {
}
input[type=text]{
  width: 180px;
  font: bold 50px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  color:#f6931f; 
  border-radius: 10px;
}
input[type=submit] {
  border-radius: 10px;
  text-align: center;
  font: bold 100px Helvetica, sans-serif;
  color:#f6931f;
  background-color:#000;
  padding: 3px 0 0 0;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
