/*
 * @file
 * CSS for ajax_example.
 *
 * See @link ajax_example_dependent_dropdown_degrades @endlink for
 * details on what this file does. It is not used in any other example.
 */
 
.container-inline{
float: left;
display:inline;
display:inline-block;
}

.ctlfloatleft{
float: left;
margin-right:10px;
overflow:hidden;
}

.ctlclear {
        clear:both;
}

table.control {
  border-style: none;
  border-width: 1px;
        background-color:#fff;
        border-collapse: collapse;
}
.control_on{
        background-color:red;
        font-color: #000;
}
.control_off{
        font-color: #fff;
}

.ctlcell{
        background-color:orange;
	vertical-align: top;
}
